[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
rope = "*"
pylint = "*"
prospector = "*"

[packages]
python-socketio = "*"
tornado = "*"
asyncpg = "*"
twint = "*"
hazm = "*"

[requires]
python_version = "3.8"

[scripts]
main = "python main.py"
